---
import { projects } from '@/assets/data/projects';
import { Link } from '@lucide/astro';
---

<section class="flex flex-col max-w-5xl gap-5 px-7" id="projects">
  <h2 class="text-4xl font-bold w-full text-center mt-20">Projects</h2>
  <p class="text-center text-xl text-neutral-600 dark:text-neutral-300">
    Have a look at some of the projects I'm proud of:
  </p>

  <div class="flex flex-col gap-15 w-full mt-10">
    {
      projects.map((project) => (
        <div class="flex flex-col md:flex-row gap-4 w-full">
          <div
            class={`flex flex-col justify-center gap-4 rounded-xl shadow-lg p-7 ${project.bgColor} md:w-[50%]`}
          >
            <img
              class="object-contain aspect-[5/4]"
              src={project.thumbnail}
              alt="Project image"
            />
          </div>

          <div
            class={`flex bg-white dark:bg-neutral-700/70 flex-col items-center justify-center gap-8 md:gap-10 px-7 py-10 border border-neutral-300 dark:border-neutral-500 border-b-3 ${project.borderColor} rounded-xl md:w-[50%]`}
          >
            <p class={`font-semibold text-3xl ${project.titleColor}`}>
              {project.name}
            </p>

            <p class="text-neutral-500 dark:text-neutral-300 text-center">
              {project.description}
            </p>

            <a
              href={project.previewlink}
              target="_blank"
              class={`flex items-center gap-3 ${project.bgColor} p-3 rounded-xl hover:scale-105 transition`}
            >
              <Link class="size-5 text-black" />
              <p class="text-black">View project</p>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>
