---
import "@/global.css";
import { Icon } from "astro-icon/components";
import { projects, skillsBack, skillsFront, experience } from "../data/data";
import profilepic from "/src/images/profile-pic.jpg";
import { ContactForm } from "./contact-form";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "./ui/card";
import { Button } from "./ui/button";
---

<main class="flex flex-col items-center gap-10">
  <section
    class="flex flex-col w-full max-w-4xl items-center gap-5 px-7 scroll-mt-20"
    id="aboutme"
  >
    <h1 class="text-4xl md:text-5xl font-semibold mt-10 text-center">
      Reynaldo Molina
    </h1>
    <p class="text-center text-sm md:text-lg text-muted-foreground">
      Frontend developer who likes clean code and simple, effective interfaces.
      Excited about challenging projects and enjoy diving into them headfirst.
      Easy to work with and blend well into any team. If you've got something
      tricky, you're in good company.
    </p>
    <img
      class="flex justify-center border-5 w-45 rounded-full aspect-square"
      src={profilepic.src}
      alt="Profile picture"
    />
  </section>

  <section class="flex flex-col max-w-5xl gap-5 px-7" id="projects">
    <h2 class="text-3xl md:text-4xl font-semibold w-full text-center mt-20">
      Projects
    </h2>
    <p class="text-center text-sm md:text-lg text-muted-foreground">
      Have a look at some of the projects I'm proud of:
    </p>

    <div class="grid grid-cols-1 gap-5 w-full mt-10">
      {
        projects.map((project) => (
          <a href={project.previewlink} target="_blank" class="cursor-pointer">
            <Card>
              <CardHeader>
                <CardTitle>{project.name}</CardTitle>
                <CardDescription>{project.description}</CardDescription>
              </CardHeader>
              <CardContent>
                <img
                  class="object-contain aspect-[5/4] max-h-100 mx-auto hover:scale-102 transition drop-shadow-lg"
                  src={project.thumbnail}
                  alt="Project image"
                />
              </CardContent>
            </Card>
          </a>
        ))
      }
    </div>
  </section>

  <section class="flex w-full flex-col max-w-3xl gap-20 p-7" id="experience">
    <div class="flex flex-col gap-5">
      <h2 class="text-3xl md:text-4xl font-semibold w-full text-center mt-20">
        Experience
      </h2>
      <p class="text-center text-sm md:text-lg text-muted-foreground">
        Take a look at what I've done:
      </p>
    </div>

    <div class="flex flex-col gap-15 w-full">
      {
        experience.map((element) => (
          <div class="flex w-full gap-7">
            <p class="text-xl">{element.year}</p>
            <div class="flex flex-col">
              <p class="text-xl">{element.place}</p>
              <p class="text-sm text-muted-foreground">{element.title}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <section
    class="flex flex-col items-center w-full max-w-5xl gap-10 px-7"
    id="skills"
  >
    <div class="flex flex-col gap-5">
      <h2 class="text-3xl md:text-4xl font-semibold w-full text-center mt-20">
        Skills
      </h2>
      <p class="text-center text-sm md:text-lg text-muted-foreground">
        What I can bring to the table:
      </p>
    </div>

    <div class="flex flex-col w-full gap-5">
      <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-5">
        <Card>
          <CardContent className="flex flex-col gap-5">
            <h3
              class="inline-flex gap-2 items-center text-center text-xl md:text-2xl font-semibold mx-auto"
            >
              Frontend
            </h3>

            <p class="text-center text-muted-foreground text-sm">
              Bring ideas to life and to the browser, paying maximal attention
              to your vision of the product.
            </p>
            <p class="text-center text-lg">Languages</p>

            <p class="text-center text-sm text-muted-foreground">
              TypeScript, HTML, CSS
            </p>

            <a
              href="https://reynaldomolina.github.io/todoapp/"
              target="_blank"
              class="text-center text-lg">My tools:</a
            >

            {
              skillsFront.map((skill) => (
                <div class="flex justify-center items-center gap-3">
                  <Icon name={skill.icon} class="size-5" />
                  <p class="text-center text-sm text-muted-foreground">
                    {skill.name}
                  </p>
                </div>
              ))
            }
          </CardContent>
        </Card>

        <Card>
          <CardContent className="flex flex-col gap-5">
            <h3
              class="inline-flex gap-2 items-center text-center text-xl md:text-2xl font-semibold mx-auto"
            >
              Backend
            </h3>
            <p class="text-center text-muted-foreground text-sm">
              Develop business logic and back-end system to support the product,
              create API, experience with version control systems.
            </p>
            <p class="text-center text-lg">Languages</p>

            <p class="text-center text-sm text-muted-foreground">
              TypeScript, SQL
            </p>

            <p class="text-center text-lg">My tools:</p>

            {
              skillsBack.map((skill) => (
                <div class="flex justify-center items-center gap-3">
                  <Icon name={skill.icon} class="size-5" />
                  <p class="text-center text-sm text-muted-foreground">
                    {skill.name}
                  </p>
                </div>
              ))
            }
          </CardContent>
        </Card>
      </div>

      <a href="/Reynaldo Molina CV.pdf" download class="mx-auto">
        <Button className="w-full md:w-100 mx-auto"> Download my CV </Button>
      </a>
    </div>
  </section>

  <section
    class="grid grid-cols-1 md:grid-cols-2 w-full max-w-5xl gap-5 p-7"
    id="contact"
  >
    <Card className="flex w-full bg-linear-to-br bg-blue-600 from-blue-800">
      <CardContent
        className="flex flex-col gap-3 justify-center h-full text-white"
      >
        <h2 class="text-xl font-semibold w-full text-center">
          Interested in working together?
        </h2>
        <p class="text-center">
          Complete the form and let's have a talk on your project!
        </p>
      </CardContent>
    </Card>
    <ContactForm client:visible />
  </section>
</main>
